
.purple {
    color: indigo;
}


.purple-background {
    background-color: indigo;
    color: white;
    border-radius: 8px;
    margin: 10px;
}

.center {
   text-align: center;
   align-items: center;
}

